# -- Misc --
# Random build dir
build
# vim backup files
*.swp

# -- QTC --
CMakeLists.txt.user*

# -- Debian --

# Build directory
obj-*-linux-gnu

# DHMK files
debian/dhmk*

# Debhelper files
debian/*.log
debian/*.debhelper
debian/*.substvars

# Install dirs
debian/tmp
debian/lib*/*

# Random plunder
debian/stamp-man-pages
debian/files
